body.mainpage {
    background-color: #292929;
    background:
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
        url("../images/museum-background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

[class*="maincol"] {
    padding: 25px;
    color: lightgray;
    backdrop-filter: brightness(60%) blur(10px);
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    flex: 1 1 300px;
    min-width: 300px;
}

.row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.row#bottom-pad {
    margin-bottom: 25px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

h2.mainpage {
    text-align: center;
}

button.navigation {
    background-color: burlywood;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

div.header {
    backdrop-filter: brightness(60%) blur(10px);
    text-align: center;
    padding: 15px;
    padding-bottom: 35px;
    margin: 0;
    border: 1px solid gray;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 5px black;
}

div.welcome {
    color: lightgray;
    backdrop-filter: brightness(60%) blur(10px);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 5px black;
}

div.collection-navigation {
    color: lightgray;
    backdrop-filter: brightness(60%) blur(10px);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 5px black;
    text-align: center;
}

div.staff-persona {
    color: lightgray;
    backdrop-filter: brightness(60%) blur(10px);
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

h3.staff-bio {
    margin-bottom: -1em;
}

h4.staff-bio {
    margin-bottom: -0.7em;
}

div.staff-container {
    display: grid;
    padding: 25px 250px 25px 250px;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    color: lightgray;
    backdrop-filter: brightness(60%) blur(10px);
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.staff-container div {
    /* border: 1px solid white; */
    align-content: center;
}

.staff-container img {
    border-radius: 10px;
    height: 350px;
}

.staff-container h2 {
    margin-top: 0;
    margin-bottom: -0.75em;
}

.staff-container h4 {
    margin-bottom: -0.7em;
}

.staff-container hr {
    border: 1px solid darkgray;
    box-shadow: 0px 2px 0px black;
}

div.all-collections {
    padding: 0px 150px 25px 50px;
    color: lightgray;
    backdrop-filter: brightness(60%) blur(10px);
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

div.collection-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "cname cname"
        "cimage cinfo";
    column-gap: 50px;
    color: lightgray;
}

.collection-container div.cname {
    grid-area: cname;
}

.collection-container div.cimage {
    grid-area: cimage;
}

.collection-container div.cinfo {
    grid-area: cinfo;
    text-align: left;
    /* border: 1px solid blue; */
}

.collection-container div {
    /* border: 1px solid white; */
}

.collection-container img {
    border-radius: 10px;
    width: 480px;
}

.collection-container h2 {
    margin-top: 0;
}

.collection-container h3 {
    padding-left: 1em;
}

.collection-container h4 {
    margin-bottom: -0.7em;
}

.collection-container hr {
    border: 1px solid darkgray;
    box-shadow: 0px 2px 0px black;
}

.quote {
    font-size: smaller;
    float: right;
}

div.footer {
    color: lightgray;
    backdrop-filter: brightness(60%) blur(10px);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 5px black;
    font-size: small;
    text-align: center;
}

div.footer hr {
    width: 33%;
}

/* Shop CSS */
.shop-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}

.souvenir-item {
    backdrop-filter: brightness(60%) blur(10px);
    width: 250px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.souvenir-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.souvenir-item input[type="checkbox"] {
    margin-right: 8px;
}

.souvenir-item button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    font-weight: bold;
    background-color: burlywood;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.souvenir-item button:hover {
    background-color: rgb(255, 230, 197);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    width: 60%;
    border-radius: 8px;
}

.modal-content img {
    width: 100%;
    height: auto;
}

.close-modal {
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
    color: #444;
}